{% extends 'layout.html' %}
{% block content %}
    <body>
        <div class="row gy-4 card-body">
            <p class="card-title bg-dark">Contact me!</p>
            <form action="" method="POST" class="php-email-form card-contact">
            {% csrf_token %}
            {{form.as_div}} {{ form.submitted }} {{ form.error }} {{ form.success }}
            <button type="submit" class="btn btn-light btn btn-outline-dark">Enviar</button>
            </form>
        </div>
    </body>
{% endblock %}
